{% extends "base.html" %}
{% from "_nav_macros.html" import back_link %}
{% block title %}Generate Pay Periods -- Shekel{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="d-flex justify-content-end mb-3">
      {{ back_link(url_for('grid.index'), 'Budget') }}
    </div>
    {# The shared partial's form_card title is the page heading (the
       standalone form idiom, S11). #}
    {% include "settings/_pay_periods_form.html" %}
  </div>
</div>
{% endblock content %}
